<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="martinbradley.security.JWTString" level="WARN"/>
  <logger name="martinbradley.security.JWTSigner" level="WARN"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
